
<%- include('ek/header', {bot, user, path}) %>
<script type="text/javascript">
var title = "Astarius - Bot Ekle";
document.title = title;
document.getElementById("botekle").classList.add('active');
</script>
<div class="container is-fullhd">
 <form method="post">
				
   <div class="jumbotron">
     <h2 style="color: #333;text-align:center;">Bot Ekleme</h2>
     <br>
		<label><i aria-hidden="true"></i>Client ID <a style="color:red">*</a></label>
      <input type="text" name="botid" id="botid" placeholder="Örneğin; <%=bot.user.id%>" required="required">
   <br>
    <label><i aria-hidden="true"></i>Bot Sahibi ID <a style="color:red">*</a></label>
     <input type="text" name="sahip" id="sahip"value="<%=user.id%>" disabled>
     
		<label><i aria-hidden="true"></i>Bot Prefix <a style="color:red">*</a></label>
      <input type="text" name="botprefix" id="botprefix"placeholder="!" required="required">
     
     <label><i aria-hidden="true"></i>Kütüphane <a style="color:red">*</a></label>
     <select id="kutuphane" name="kutuphane" required="required">
       <option disabled selected>Lütfen bir kütüphane seçiniz.</option>
       <option value="discordcr" >discordcr</option>
        
          <option value="Nyxx" >Nyxx</option>
        
          <option value="Discord.Net" >Discord.Net</option>
        
          <option value="DSharpPlus" >DSharpPlus</option>
        
          <option value="Nostrum" >Nostrum</option>
        
          <option value="coxir" >coxir</option>
        
          <option value="DiscordGo" >DiscordGo</option>
        
          <option value="Discord4J" >Discord4J</option>
        
          <option value="Javacord" >Javacord</option>
        
          <option value="JDA" >JDA</option>
        
          <option value="discord.js" >discord.js</option>
        
          <option value="Eris" >Eris</option>
        
          <option value="Discordia" >Discordia</option>
        
          <option value="RestCord" >RestCord</option>
        
          <option value="Yasmin" >Yasmin</option>
        
          <option value="disco" >disco</option>
        
          <option value="discord.py" >discord.py</option>
        
          <option value="discordrb" >discordrb</option>
        
          <option value="serenity" >serenity</option>
        
          <option value="SwiftDiscord" >SwiftDiscord</option>
        
          <option value="Sword" >Sword</option>
        
        <option value="Other" >Diğer</option>
     </select>
           
     <label><i aria-hidden="true"></i>Kısa Açıklama <a style="color:red">*</a></label>
      <input type="text" name="kisa-aciklama" id="kisa-aciklama" placeholder="Botunuzun kısa açıklamasını yazınız." maxlength="50" required="required">
     <br>
     <label><i aria-hidden="true"></i>Uzun Açıklama <a style="color:red">*</a></label>
     <p>(HTML ve Markdown desteklemekte)</p>
           <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
     <script>
var simplemde = new SimpleMDE({ element: document.getElementById("uzun-aciklama") }); 
     </script>
     <textarea name="uzun-aciklama" id="uzun-aciklama"placeholder="Botunuzun uzun açıklamasını yazınız." minlength="100" required="required"></textarea>
     <br>
     <label><i aria-hidden="true"></i>Etiketler <a style="color:red">*</a></label>
      <select multiple id="etikett" name="etikett">
        <option value="Moderasyon">Moderasyon</option>
        <option value="Müzik">Müzik</option>
        <option value="Ayarlar">Ayarlar</option>
        <option value="Eğlence">Eğlence</option>
        <option value="Web Panel">Web Panel</option>
       </select>
       <p>
         <a style="color:red">Not: </a><a style="color:#333">birden çok etiket seçilebilir. Bilgisayarda iseniz <i>ctrl</i> tuşuna basılı tutarak seçiniz etiketleri.</a>
       </p>
     <br>
     <label><i aria-hidden="true"></i>Web Site URL'si</label>
      <input type="url" name="botsite" id="botsite" placeholder="Var ise web site url yazınız.">
     <br>
     <label><i aria-hidden="true"></i>Github URL'si</label>
      <input type="url" name="github" id="github" placeholder="Var ise github url yazınız.">
     <br>
     <label><i aria-hidden="true"></i>Destek Sunucusu URL'si</label>
      <input type="url" name="botdestek" id="botdestek" placeholder="Botunuzun var ise Discord destek sunucusunun URL'sini yazınız.">
	
   
   <h6 style="color:red">
     Yanında * olanlar zorunlu, olmayanlar ise isteğe bağlıdır.
   </h6>

				<div style="width: 100%; text-align: center; margin-top: 20px;">
					<button type="submit" class="buttons"><i class="fa fa-save fa-fw"></i> Başvuruyu Gönder<i aria-hidden='true'></i></button>
				</div>
   </div>
  </form>
		</div>
	</div>
</div>
</div>

<% include ./ek/footer %>