<%- include('ek/header', {bot, user, path}) %>
<script type="text/javascript">
var title = "WorldBotList - Sertifika İste";
document.title = title;
</script>
<div class="container">
	<div class="jumbotron">
       <form method="post">
		  <label>Botunuz 100+ sunucuya hizmet veriyormu?</label>
        <select id="secim1" name="secim1" required="required">
       <option disabled selected>Bir seçim yapın</option>
       <option value="evet">Evet</option>
       <option value="hayır">Hayır</option>
        </select>
         <label>Botunuz 7/24 Aktif mi?</label>
        <input type="text" name="secim2" id="secim2" required="required">
      <button type="submit" class="butonss" style="width:100%;">Sertifika iste</button>
      </form>
  </div></div></div>
<% include ./ek/footer %>