<%- include('ek/header', {bot, user, path}) %>
<script type="text/javascript">
var title = "Astarius - Sertifika";
document.title = title;
document.getElementById("sertifika").classList.add('active');
</script>
 <style>
      html, body {
          background-color:#fff !important;
          background: url(https://cdn.discordapp.com/attachments/636915676665217035/733725416266924123/inspiration-geometry.png) repeat 0 0;
          max-width: 100%;
          overflow-x: hidden;
          -webkit-animation: slide 20s linear infinite;
      }
      body::-webkit-scrollbar {
          width: 0.6em;
      }
      body::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
      }

      body::-webkit-scrollbar-thumb {
        background-color: #FF0F00;
        outline: 1px solid #fff;
      }
      a{
        text-decoration:none !important;
      }
      @-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: 0 -400px; }
}
    </style>
<div class="container">
	<div class="jumbotron">
		<div align="center">
		   <h3 style="color:#333">Sertifika Nasıl Alınır?</h3>
		   <p>Sertifika botunuzun ve sizin ek rütbe almasını sağlayacaktır. <br><strong>Peki, sertifika tam olarak ne kazandırır?</strong><br>
		 <a style="color:red">1.</a> Discord Sunucumuzda  botunuz Sertifikalı Bot rolü, siz Sertifikalı Geliştirici rolü alırsınız. <br>
		 <a style="color:red">2.</a> Sitemizde (burada) botunuzun profilinde Sertifikalı yazar ve botunuzun profilinde Sertifika ikonu yer alır. <br><br><strong>Ve gelelim Sertifikayı nasıl alacağınıza.</strong> <br>
		 Sertifika alabilmek için botunuzun 100 veya 100'den fazla sunucuda bulunması gerekmektedir. Eğer botunuz bu şartı karşılıyorsa yetkililerimiz botunuzda hata bulunup bulunmadığını kontrol ettikten sonra sertifika işeleminizi onaylıyacaklar.Eğer karşılamıyorsa discord sunucumuza boost basarak alabilirsiniz.
    <br><br><strong>Peki nasıl başvuru yapabilirim?</strong> <br>
    Botunuzun profilinde <b>Sertifika iste</b> butonuna tıklayarak sertifika başvurusunda bulunabilirsiniz.
		</p>
</div>
  </div></div></div>
<% include ./ek/footer %>