<%- include('ek/header', {bot, user, path}) %>
<script type="text/javascript">
var title = "Astarius - Token Al";
document.title = title;
</script>
<div class="container">
	<div class="jumbotron">
		<div align="center">
      <label>Tokeniniz</label>
      <input type="text" value="token" disabled>
    </div>
</div>
</div></div></div>
<% include ./ek/footer %>

!!eval const turkcebotlistapi = require('turkcebotlistapi-js');
const turkcebotlistapikey = new turkcebotlistapi('402153479164002305', client);
