<div class="footer">
	<div class="footer_container">
    <ul>
      <li><a href="">Ana Sayfa</a></li>
      <li><a href="/botlar">Botlar</a></li>
      <li><a href="/sertifika">Sertifika</a></li>
      <li><a href="/hakkimizda">Hakkımızda</a></li>
    </ul>
    <p>
  <p>
    <h5>Bilgi</h5>
   Sitemizin Discord ile herhangi bir ortaklığı yoktur ve resmi değildir. 
  </p>
	</div>
  <div class="footer-alt">
      2020 @ Astarius
    </div>
</div>
<script>if (MyBB) { $([document, window]).bind("load", function() { MyBB.detectDSTChange('3'); }); }</script>
<script src="https://unpkg.com/tippy.js@2.6.0/dist/tippy.all.min.js"></script>
<script type="text/javascript">
$(function() {

  // Tippy
  tippy('[title]', {
    arrow: true,
    arrowType: 'round',
    animation: 'scale'
  });

  // Running Task
  $('.running-task').delay(2500).fadeOut(100);

});
</script>